

body {
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .main{

    position: absolute;
    top: 25%;
    left: 15%;
  }
  p{

    color: white;
    
  }

  .infoTiempo {

    position: fixed;
    top: 1%;
    left: 1%;
    background-color: rgb(90, 93, 247);
      
    
  }
  #chiste {

    color: black;
  }